 <section class="about-us" id="about-us">
    <div class="container wrapper-about-us">

        <h2 class="title-for-all-section">про нас</h2>
        <div class="wrapper-about-us-content">
            <div class="wrapper-text-section-about-us">
                <p class="p-text-main p-text-about-us">Всім привіт! З Вами на зв’язку хлопці з компанії “Наша Справа”. Наша діяльність пов’язана з пригоном авто зі <span class="span-text-about-us">Сполучених Штатів Америки</span>.</p>
                <p class="p-text-main p-text-about-us">Більше <span class="span-text-about-us">5-ти років</span> ми будуємо те, що зветься довіра до клієнта. <span class="span-text-about-us">Кожне</span> доставлене авто - наша маленька перемога на якій базується наш бренд !</p>
            </div>
            <div class="wrapper-team-photo">
                <img src="./img/we-2.webp" alt="Our Team" class="img-about-us-team img-about-us-team-1" width="420" height="370">
                <img src="./img/we-1.webp" alt="Our Team" class="img-about-us-team img-about-us-team-2" width="420" height="370">
            </div>
        </div>
    </div>
</section>