<section class="auction" id="auction">
    <div class="container">
        <h2 class="title-for-all-section">аукціон</h2>
        <div class="wrapper-auction-title-img">
            <h3 class="title-auction">Аукціони з якими ми <span class="auction-with-working">співпрацюємо</span>:</h3>
            <div class="wrapper-auctions-img">
                <img src="./img/auction-coprat.webp" alt="Coprat" class="img-coprat" width="156" height="61">
                <img src="./img/auction-aa.webp" alt="AA" class="img-aa" width="94" height="60">
            </div>
        </div>

        <div class="swiper swiper-margin">
            <ul class="ul-car-list swiper-wrapper">
                <li class="li-car-card swiper-slide">
                    <img src="./img/volkswagen-grey.webp" alt="Car" class="img-car-card">
                    <h4 class="title-car-name">2015 volkswagen jetta SE</h4>
                    <ul class="ul-technical-car-stat">
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Рік:</li>
                                <li class="li-oil-2">2022</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Тип палива:</li>
                                <li class="li-oil-2">Дизель</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Коробка передач:</li>
                                <li class="li-oil-2">Автомат</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Пробіг:</li>
                                <li class="li-oil-2">123456</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Об’єм двигуна:</li>
                                <li class="li-oil-2">3000см3</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Привід:</li>
                                <li class="li-oil-2">зад</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="wrapper-total-price-calc">
                        <p class="p-text-price-for-car">8000$</p>

                        <button class="main-consultation-btn">ЗАМОвити консультацію</button>
                    </div>
                </li>
                <li class="li-car-card swiper-slide">
                    <img src="./img/volkswagen-grey.webp" alt="Car" class="img-car-card">
                    <h4 class="title-car-name">Volkswagen</h4>
                    <ul class="ul-technical-car-stat">
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Рік:</li>
                                <li class="li-oil-2">2022</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Тип палива:</li>
                                <li class="li-oil-2">Дизель</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Коробка передач:</li>
                                <li class="li-oil-2">Автомат</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Пробіг:</li>
                                <li class="li-oil-2">123456</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Об’єм двигуна:</li>
                                <li class="li-oil-2">3000см3</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Привід:</li>
                                <li class="li-oil-2">зад</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="wrapper-total-price-calc">
                        <p class="p-text-price-for-car">8000$</p>

                        <button class="main-consultation-btn">ЗАМОвити консультацію</button>
                    </div>
                </li>
                <li class="li-car-card swiper-slide">
                    <img src="./img/volkswagen-grey.webp" alt="Car" class="img-car-card">
                    <h4 class="title-car-name">Volkswagen</h4>
                    <ul class="ul-technical-car-stat">
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Рік:</li>
                                <li class="li-oil-2">2022</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Тип палива:</li>
                                <li class="li-oil-2">Дизель</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Коробка передач:</li>
                                <li class="li-oil-2">Автомат</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Пробіг:</li>
                                <li class="li-oil-2">123456</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Об’єм двигуна:</li>
                                <li class="li-oil-2">3000см3</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Привід:</li>
                                <li class="li-oil-2">зад</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="wrapper-total-price-calc">
                        <p class="p-text-price-for-car">8000$</p>

                        <button class="main-consultation-btn">ЗАМОвити консультацію</button>
                    </div>
                </li>
                <li class="li-car-card swiper-slide">
                    <img src="./img/volkswagen-grey.webp" alt="Car" class="img-car-card">
                    <h4 class="title-car-name">Volkswagen</h4>
                    <ul class="ul-technical-car-stat">
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Рік:</li>
                                <li class="li-oil-2">2022</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Тип палива:</li>
                                <li class="li-oil-2">Дизель</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Коробка передач:</li>
                                <li class="li-oil-2">Автомат</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Пробіг:</li>
                                <li class="li-oil-2">123456</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Об’єм двигуна:</li>
                                <li class="li-oil-2">3000см3</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Привід:</li>
                                <li class="li-oil-2">зад</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="wrapper-total-price-calc">
                        <p class="p-text-price-for-car">8000$</p>

                        <button class="main-consultation-btn">ЗАМОвити консультацію</button>
                    </div>
                </li>
                 <li class="li-car-card swiper-slide">
                    <img src="./img/volkswagen-grey.webp" alt="Car" class="img-car-card">
                    <h4 class="title-car-name">Volkswagen</h4>
                    <ul class="ul-technical-car-stat">
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Рік:</li>
                                <li class="li-oil-2">2022</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Тип палива:</li>
                                <li class="li-oil-2">Дизель</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Коробка передач:</li>
                                <li class="li-oil-2">Автомат</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Пробіг:</li>
                                <li class="li-oil-2">123456</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Об’єм двигуна:</li>
                                <li class="li-oil-2">3000см3</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Привід:</li>
                                <li class="li-oil-2">зад</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="wrapper-total-price-calc">
                        <p class="p-text-price-for-car">8000$</p>

                        <button class="main-consultation-btn">ЗАМОвити консультацію</button>
                    </div>
                </li>
                 <li class="li-car-card swiper-slide">
                    <img src="./img/volkswagen-grey.webp" alt="Car" class="img-car-card">
                    <h4 class="title-car-name">Volkswagen</h4>
                    <ul class="ul-technical-car-stat">
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Рік:</li>
                                <li class="li-oil-2">2022</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Тип палива:</li>
                                <li class="li-oil-2">Дизель</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Коробка передач:</li>
                                <li class="li-oil-2">Автомат</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Пробіг:</li>
                                <li class="li-oil-2">123456</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Об’єм двигуна:</li>
                                <li class="li-oil-2">3000см3</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Привід:</li>
                                <li class="li-oil-2">зад</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="wrapper-total-price-calc">
                        <p class="p-text-price-for-car">8000$</p>

                        <button class="main-consultation-btn">ЗАМОвити консультацію</button>
                    </div>
                </li>
                 <li class="li-car-card swiper-slide">
                    <img src="./img/volkswagen-grey.webp" alt="Car" class="img-car-card">
                    <h4 class="title-car-name">Volkswagen</h4>
                    <ul class="ul-technical-car-stat">
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Рік:</li>
                                <li class="li-oil-2">2022</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Тип палива:</li>
                                <li class="li-oil-2">Дизель</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Коробка передач:</li>
                                <li class="li-oil-2">Автомат</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Пробіг:</li>
                                <li class="li-oil-2">123456</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Об’єм двигуна:</li>
                                <li class="li-oil-2">3000см3</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Привід:</li>
                                <li class="li-oil-2">зад</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="wrapper-total-price-calc">
                        <p class="p-text-price-for-car">8000$</p>

                        <button class="main-consultation-btn">ЗАМОвити консультацію</button>
                    </div>
                </li>
                 <li class="li-car-card swiper-slide">
                    <img src="./img/volkswagen-grey.webp" alt="Car" class="img-car-card">
                    <h4 class="title-car-name">Volkswagen</h4>
                    <ul class="ul-technical-car-stat">
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Рік:</li>
                                <li class="li-oil-2">2022</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Тип палива:</li>
                                <li class="li-oil-2">Дизель</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Коробка передач:</li>
                                <li class="li-oil-2">Автомат</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Пробіг:</li>
                                <li class="li-oil-2">123456</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Об’єм двигуна:</li>
                                <li class="li-oil-2">3000см3</li>
                            </ul>
                        </li>
                        <li class="li-technical-car-stat">
                            <ul class="oil">
                                <li class="li-oil-1">Привід:</li>
                                <li class="li-oil-2">зад</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="wrapper-total-price-calc">
                        <p class="p-text-price-for-car">8000$</p>

                        <button class="main-consultation-btn">ЗАМОвити консультацію</button>
                    </div>
                </li>
            </ul>

        </div>

        <div class="swiper-scrollbar"></div>

    </div>

</section>