<section class="calculator">
    <div class="container">
        <h2 class="title-moments-buy">калькулятор розмитнень</h2>
        <p class="p-text-calculator">Наш калькулятор допоможе Вам підібрати автомобіль з Америки для доставки. Введіть дані, які Вас цікавлять і ми зорієнтуємо по вартості омрієної машини.</p>

        <div class="wrapper-form-calculator">
            <h3 class="title-calculator">КАлькулятор</h3>
            
            <form class="form-calculator">
                <label>Ціна автомобіля (USD)
                    <input type="text">
                </label>
                <label>Ціна автомобіля (USD)
                    <input type="text">
                </label>
                <label>Ціна автомобіля (USD)
                    <input type="text">
                </label>
                <label>Ціна автомобіля (USD)
                    <input type="text">
                </label>

                <span class="p-text-total-price">загальна сума:</span>
                <span class="total-price">0$</span>
                <button class="form-caclulator-btn">порахувати</button>
            </form>

        </div>
    </div>
</section>
