<section class="calculator" id="calculator" loading="lazy">
    <div class="container">
        <h2 class="title-calculator">калькулятор розмитнень</h2>
        <p class="p-text-calculator">Наш калькулятор допоможе Вам підібрати автомобіль з Америки для доставки. Введіть дані, які Вас цікавлять і ми зорієнтуємо по вартості омрієної машини.</p>

        <div class="wrapper-form-calculator">
            <h3 class="title-form-calculator">КАлькулятор</h3>
            
            <form class="form-calculator">
                <label>Ціна автомобіля (USD)
                    <input class="calc-form-input" type="number">
                </label>
                <label>Рік випуску
                    <input class="calc-form-input" type="number" min="2010" max="2024" placeholder="2024">
                </label>
                <p class="p-select">Тип двигуна</p>
                <select class="calc-form-input-select" name="select-calc" id="typeOil">
                    <option value="1">Бензин</option>
                    <option value="2">Дизель</option>
                    <option value="3">Электро</option>
                </select>
                
                <label>Об’єм двигуна (см3) / Ємність батареї (кВт) 
                    <input class="calc-form-input" type="number">
                </label>
                <div class="wrapper-total-price">
                    <span class="p-text-total-price">загальна сума:</span>
                    <span class="total-price" id="totalPriceID">0$</span>
                </div>
                <button class="form-calculator-btn">порахувати</button>
            </form>

        </div>
    </div>
</section>
