<section class="delivery" id="delivery" loading="lazy">
    <div class="container">
        <h2 class="title-for-all-section">Безпечна доставка</h2>
        <ul class="ul-delivery">
            <li class="li-delivery">
                <p class="p-text-delivery">На зв’язку завжди є <span class="delivery-span">Ваш персональний менеджер</span>, який буде відповідати на всі Ваші питання під час доставки авто. </p>
                <svg class="delivery-arrow-icon" width="44" height="40">
                    <use href="./img/icons.svg#icon-arrow"></use>
                </svg>
                <svg class="delivery-icon" width="100" height="132">
                    <use href="./img/icons.svg#icon-phone"></use>
                </svg>
            </li>
            <li class="li-delivery">
                <p class="p-text-delivery">Ваш автомобіль <span class="delivery-span">застрахований з самого початку</span>, а саме з моменту покупки на аукціоні</p>
                <svg class="delivery-arrow-icon" width="44" height="40">
                    <use href="./img/icons.svg#icon-arrow"></use>
                </svg>
                <svg class="delivery-icon" width="100" height="132">
                    <use href="./img/icons.svg#icon-file-text"></use>
                </svg>
            </li>
            <li class="li-delivery">
                <p class="p-text-delivery">На <span class="delivery-span">кожному етапі транспортування</span>, у всіх портах США та Європи ми робимо фото/відео Вашого авто та надсилаємо Вам</p>
                <svg class="delivery-arrow-icon" width="44" height="40">
                    <use href="./img/icons.svg#icon-arrow"></use>
                </svg>
                <svg class="delivery-icon" width="100" height="132">
                    <use href="./img/icons.svg#icon-image"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>