<section class="delivery">
    <div class="container">
        <h2 class="title-for-all-section">Безпечна доставка</h2>
        <ul class="ul-delivery">
            <li class="li-delivery">
                <p class="p-text-delivery">На зв’язку завжди є Ваш персональний менеджер, який буде відповідати на всі Ваші питання під час доставки авто. </p>
                <div class="wrapper-delivery-icons">
                    <svg class="delivery-arrow-icon" width="44" height="40">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                    <svg class="delivery-icon">
                        <use href="./img/icons.svg#"></use>
                    </svg>
                </div>
            </li>
            <li class="li-delivery">
                <p class="p-text-delivery">Ваш автомобіль застрахований з самого початку, а саме з моменту покупки на аукціоні</p>
                <div class="wrapper-delivery-icons">
                    <svg class="delivery-arrow-icon" width="44" height="40">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                    <svg class="delivery-icon">
                        <use href="./img/icons.svg#"></use>
                    </svg>
                </div>
            </li>
            <li class="li-delivery">
                <p class="p-text-delivery">На кожному етапі транспортування, у всіх портах США та Європи ми робимо фото/відео Вашого авто та надсилаємо Вам</p>
                <div class="wrapper-delivery-icons">
                    <svg class="delivery-arrow-icon" width="44" height="40">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                    <svg class="delivery-icon">
                        <use href="./img/icons.svg#"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</section>