<footer class="footer">
    <div class="container">
        <div class="wrapper-footer">
            <a href="#" class="logo-link-footer">
                <img src="./img/main-logo.webp" alt="Car From USA" class="img-logo-footer" width="50" height="50">
            </a>
            <div class="wrapper-nav-footer">
                <ul class="ul-first-nav-footer">
                    <li class="li-nav-footer">
                        <a href="#" class="nav-link-footer">головна</a>
                    </li>
                    <li class="li-nav-footer">
                        <a href="#" class="nav-link-footer">про нас</a>
                    </li>
                    <li class="li-nav-footer">
                        <a href="#" class="nav-link-footer">послуги</a>
                    </li>
                    <li class="li-nav-footer">
                        <a href="#" class="nav-link-footer">етапи покупки</a>
                    </li>
                    <li class="li-nav-footer">
                        <a href="#" class="nav-link-footer">калькулятор</a>
                    </li>
                </ul>
                <ul class="ul-second-nav-footer">
                    <li class="li-nav-footer">
                        <a href="#" class="nav-link-footer">відгуки</a>
                    </li>
                    <li class="li-nav-footer">
                        <a href="#" class="nav-link-footer">партнери</a>
                    </li>
                    <li class="li-nav-footer">
                        <a href="#" class="nav-link-footer">сто</a>
                    </li>
                    <li class="li-nav-footer">
                        <a href="#" class="nav-link-footer">аукціон</a>
                    </li>
                    <li class="li-nav-footer">
                        <a href="#" class="nav-link-footer">безпечна доставка</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapper-terms">
            <p class="p-text-terms">&copy; 2023 Всі права захищені</p>
            <a href="#" class="link-terms">Політика конфіденційності.</a>
        </div>
    </div>
</footer>