<header class="header">
    <div class="container wrapper-header">
        <a href="#" class="logo-link">
            <img src="./img/main-logo.webp" alt="Car From USA" class="img-logo img-logo-phone" width="61" height="61">
        </a>
        <a href="#" class="logo-link">
            <img src="./img/main-logo.webp" alt="Car From USA" class="img-logo img-logo-desc" width="85" height="85">
        </a>

        <nav class="header-nav">
            <ul class="ul-nav">
                <li class="li-nav">
                    <a href="#" class="a-nav-link">про нас</a>
                </li>
                <li class="li-nav">
                    <a href="#" class="a-nav-link">етапи покупки</a>
                </li>
                <li class="li-nav">
                    <a href="#" class="a-nav-link">калькулятор</a>
                </li>
                <li class="li-nav">
                    <a href="#" class="a-nav-link">аукціон</a>
                </li>
                <li class="li-nav">
                    <a href="#" class="a-nav-link">відгуки</a>
                </li>
                <li class="li-nav">
                    <a href="#" class="a-nav-link">контакти</a>
                </li>
            </ul>
        </nav>

        <a href="#" class="a-phone-link">
            <svg class="header-icon-phone" width="19" height="19">
                <use href="./img/icons.svg#icon-phone"></use>
            </svg>
            +380 (50) 693 56 01</a>

        <a href="" class="burger-menu">
            <svg class="svg-burger-menu" width="32" height="28">
                <use href="./img/icons.svg#icon-burger-menu"></use>
            </svg>
        </a>
    </div>
</header>