<section class="hero" id="hero" loading="lazy">

    <div class="container wrapper-hero">

        <div class="wrapper-p-text-main wrapper-p-text-main-desc">

            <p class="p-text-main">Найшвидша доставка авто з США в Івано - Франківську. Вже <span class="main-text-span">за 2 місяці</span> саме Ви можете стати щасливим/ою власником/цею нового автомобіля.</p>

            <button class="main-consultation-btn" type="button" id="main-consultation-btn">БЕЗКОШТОВНА КОНСУЛЬТАЦІЯ</button>

            <p class="p-text-main p-text-main-second">Персональний менеджер, фотозвіт, власна СТО, страхівка і не тільки.. Весь цей сервіс ми Вам гарантуємо!</p>
        
        </div>

        <h1 class="title-main">АВТО З АМЕРИКИ</h1>

        <h2 class="title-main-second">НАША СПРАВА</h2>

        <div class="wrapper-p-text-main wrapper-p-text-main-phone">

            <p class="p-text-main">Найшвидша доставка авто з США в Івано - Франківську. Вже <span class="main-text-span">за 2 місяці</span> саме Ви можете стати щасливим/ою власником/цею нового автомобіля.</p>

            <button class="main-consultation-btn" type="button" id="main-consultation-btn-hero">БЕЗКОШТОВНА КОНСУЛЬТАЦІЯ</button>

            <p class="p-text-main p-text-main-second">Персональний менеджер, фотозвіт, власна СТО, страхівка і не тільки.. Весь цей сервіс ми Вам гарантуємо!</p>
        
        </div>

        <img src="./img/hero-bmw-white.webp" class="img-bmw-hero" alt="BMW">

        <ul class="wrapper-social-icon">
            <li class="li-social-icon">
                <a href="#" class="link-to-social">
                    <svg class="svg-social-icon" width="36" height="36">
                        <use href="./img/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="li-social-icon">
                <a href="https://www.instagram.com/nasha.sprava.garage.if/" target="_blank" class="link-to-social">
                    <svg class="svg-social-icon" width="36" height="36">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="li-social-icon">
                <a href="#" class="link-to-social">
                    <svg class="svg-social-icon" width="36" height="36">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>

    </div>
<img class="lineBackG" src="./img/lineBackG.svg" alt="line">
    <img class="lineBackG" src="./img/lineBackG2.svg" alt="line">
</section>