<section class="moments-buy" id="buy" loading="lazy">
    <div class="container">
        <h2 class="title-moments-buy">етапи покупки автомобіля</h2>

        <ul class="wrapper-moments-buy">
            <li class="li-moments-buy">
                <article class="article-moments-buy article-moments-buy-1">
                    <h3 class="title-numbers">01</h3>
                    <p class="p-text-moments-buy">Формуємо запит на покупку авто, згідно до Ваших побажань та бюджету</p>
                </article>
            </li>
            <li class="li-moments-buy">
                <article class="article-moments-buy article-moments-buy-2">
                    <h3 class="title-numbers">02</h3>
                    <p class="p-text-moments-buy">Підбираємо найкращі варіанти авто на аукціонах США, прораховуємо їх повну вартість та формуємо пропозицію</p>
                </article>
            </li>
            <li class="li-moments-buy">
                <article class="article-moments-buy article-moments-buy-3">
                    <h3 class="title-numbers">03</h3>
                    <p class="p-text-moments-buy">Наш автосервіс допомагає максимально точно прорахувати попередню вартість ремонту авто</p>
                </article>
            </li>
            <li class="li-moments-buy">
                <article class="article-moments-buy article-moments-buy-4">
                    <h3 class="title-numbers">04</h3>
                    <p class="p-text-moments-buy">Укладаємо договір співпраці та викуповуємо авто на аукціоні</p>
                </article>
            </li>
            <li class="li-moments-buy">
                <article class="article-moments-buy article-moments-buy-5">
                    <h3 class="title-numbers">05</h3>
                    <p class="p-text-moments-buy">Доставляємо авто в порт у США. Перед завантаженням на судно, як і на всіх етапах транспортування робимо фото/відео звіт</p>
                </article>
            </li>
            <li class="li-moments-buy">
                <article class="article-moments-buy article-moments-buy-6">
                    <h3 class="title-numbers">06</h3>
                    <p class="p-text-moments-buy">Ваше авто відправиться найшвидшою судноплавною лінією  - США - Німеччина, яка триває від 11 до 17 днів</p>
                </article>
            </li>
            <li class="li-moments-buy">
                <article class="article-moments-buy article-moments-buy-7">
                    <h3 class="title-numbers">07</h3>
                    <p class="p-text-moments-buy">Із Німеччини до України курсують наші автовози, які доставлять Ваше авто</p>
                </article>
            </li>
            <li class="li-moments-buy">
                <article class="article-moments-buy article-moments-buy-8">
                    <h3 class="title-numbers">08</h3>
                    <p class="p-text-moments-buy">Кінцевим етапом буде розмитнення та доставка автомобіля на наш автосервіс в Івано - Франківську (або самостійний вивіз авто із митниці на інше сто) </p>
                </article>
            </li>
        </ul>
    </div>
</section>