<section class="our-station">
    <div class="container">
        <h2 class="title-for-all-section">нашА СТО</h2>
        <p class="p-text-our-station">“НАША СПРАВА” - майстерня кузовного ремонту, створена професійними майстрами. Наша команда працює НЕ один рік, на нашому рахунку близько 1000 ідеально відремонтованих машин після ДТП та будь-якого іншого пошкодження</p>

        <a href="https://www.instagram.com/nasha.sprava.garage.if/" class="link-to-instagram" target="_blank">@nasha.sprava.garage.if</a>

        <ul class="ul-sto-photo">
            <li class="li-sto-photo">
                <img src="./img/sto1.webp" alt="Station" class="img-sto-photo">
                <img src="./img/sto2.webp" alt="Station" class="img-sto-photo">
                <img src="./img/sto3.webp" alt="Station" class="img-sto-photo">
                <img src="./img/sto4.webp" alt="Station" class="img-sto-photo">
            </li>
            <li class="li-sto-photo">
                <img src="./img/sto1.webp" alt="Station" class="img-sto-photo">
                <img src="./img/sto2.webp" alt="Station" class="img-sto-photo">
                <img src="./img/sto3.webp" alt="Station" class="img-sto-photo">
                <img src="./img/sto4.webp" alt="Station" class="img-sto-photo">
            </li>
        </ul>

        <span class="span-scroll-sto">----------------------</span>
    </div>
</section>