<section class="our-station" id="service">
    <div class="container">
        <h2 class="title-for-all-section">нашА СТО</h2>
        <p class="p-text-our-station"><span class="span-our-station">“НАША СПРАВА”</span> - майстерня кузовного ремонту, створена професійними майстрами. Наша команда працює <span class="span-our-station">НЕ один рік</span>, на нашому рахунку <span class="span-our-station">близько 1000</span> ідеально відремонтованих машин після ДТП та будь-якого іншого пошкодження</p>

        <a href="https://www.instagram.com/nasha.sprava.garage.if/" class="link-to-instagram" target="_blank">
            <svg class="svg-social-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
            @nasha.sprava.garage.if</a>

        <ul class="ul-sto-photo">
            <li class="li-sto-photo li-sto-photo-1">
                <img class="img-sto img-sto-1" src="./img/service/IMG_0162.webp" alt="sto">
            </li>
            <li class="li-sto-photo li-sto-photo-2">
                <img class="img-sto img-sto-2" src="./img/service/IMG_5633.webp" alt="sto">
            </li>
            <li class="li-sto-photo li-sto-photo-3">
                <img class="img-sto img-sto-3" src="./img/service/IMG_0365.webp" alt="sto">
            </li>
            <li class="li-sto-photo li-sto-photo-4">
                <img class="img-sto img-sto-4" src="./img/service/IMG_3888.webp" alt="sto">
            </li>
            <li class="li-sto-photo li-sto-photo-5">
                <img class="img-sto img-sto-5" src="./img/service/IMG_1808.webp" alt="sto">
            </li>
            <li class="li-sto-photo li-sto-photo-6">
                <img class="img-sto img-sto-6" src="./img/service/IMG_1810.webp" alt="sto">
            </li>
            <li class="li-sto-photo li-sto-photo-7">
                <img class="img-sto img-sto-7" src="../img/service/IMG_2510.webp" alt="sto">
            </li>
        </ul>

    </div>
</section>