<section class="our-station">
    <div class="container">
        <h2 class="title-for-all-section">нашА СТО</h2>
        <p class="p-text-our-station"><span class="span-our-station">“НАША СПРАВА”</span> - майстерня кузовного ремонту, створена професійними майстрами. Наша команда працює <span class="span-our-station">НЕ один рік</span>, на нашому рахунку <span class="span-our-station">близько 1000</span> ідеально відремонтованих машин після ДТП та будь-якого іншого пошкодження</p>

        <a href="https://www.instagram.com/nasha.sprava.garage.if/" class="link-to-instagram" target="_blank">
            <svg class="svg-social-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
            @nasha.sprava.garage.if</a>

        <ul class="ul-sto-photo">
            <li class="li-sto-photo">
                <img src="./img/sto1.png" alt="Station" class="img-sto-photo">
                <img src="./img/sto2.png" alt="Station" class="img-sto-photo">
                <img src="./img/sto3.png" alt="Station" class="img-sto-photo">
                <img src="./img/sto4.png" alt="Station" class="img-sto-photo">
            </li>
            <li class="li-sto-photo">
                <img src="./img/sto1.png" alt="Station" class="img-sto-photo">
                <img src="./img/sto2.png" alt="Station" class="img-sto-photo">
                <img src="./img/sto3.png" alt="Station" class="img-sto-photo">
                <img src="./img/sto4.png" alt="Station" class="img-sto-photo">
            </li>
        </ul>

    </div>
</section>