<section class="reviews">
    <div class="container">
        <h2 class="title-for-all-section">відгуки задоволених клієнтів</h2>
        <div class="wrapper-comments-reviews">
            <ul class="ul-reviews-comments">
                <li class="li-reviews-comments">
                    <h3 class="title-user-name">владислав шевчук</h3>
                    <p class="p-text-buyed-car">2016 BMW X5</p>
                    <p class="text-user-comments">“Щиро дякую команді “Наша справа” за професійний сервіс. Авто було доставлене вчасно, вартість яка була названа на початку, прозвучала й в кінці угоди! Буду рекомендувати друзям”</p>
                    <p class="p-text-date">30.10.2023</p>
                </li>
                <li class="li-reviews-people">
                    <img src="./img/vladyslav-shevchuk.webp" alt="Vladislav Shevchuk" class="img-user-comments">
                </li>                
            </ul>
            <ul class="ul-reviews-comments">
                <li class="li-reviews-comments">
                    <h3 class="title-user-name">владислав шевчук</h3>
                    <p class="p-text-buyed-car">2016 BMW X5</p>
                    <p class="text-user-comments">“Щиро дякую команді “Наша справа” за професійний сервіс. Авто було доставлене вчасно, вартість яка була названа на початку, прозвучала й в кінці угоди! Буду рекомендувати друзям”</p>
                    <p class="p-text-date">30.10.2023</p>
                </li>
                <li class="li-reviews-people">
                    <img src="./img/vladyslav-shevchuk.webp" alt="Vladislav Shevchuk" class="img-user-comments">
                </li>                
            </ul>
            <ul class="ul-reviews-comments">
                <li class="li-reviews-comments">
                    <h3 class="title-user-name">владислав шевчук</h3>
                    <p class="p-text-buyed-car">2016 BMW X5</p>
                    <p class="text-user-comments">“Щиро дякую команді “Наша справа” за професійний сервіс. Авто було доставлене вчасно, вартість яка була названа на початку, прозвучала й в кінці угоди! Буду рекомендувати друзям”</p>
                    <p class="p-text-date">30.10.2023</p>
                </li>
                <li class="li-reviews-people">
                    <img src="./img/vladyslav-shevchuk.webp" alt="Vladislav Shevchuk" class="img-user-comments">
                </li>                
            </ul>
            <ul class="ul-reviews-comments">
                <li class="li-reviews-comments">
                    <h3 class="title-user-name">владислав шевчук</h3>
                    <p class="p-text-buyed-car">2016 BMW X5</p>
                    <p class="text-user-comments">“Щиро дякую команді “Наша справа” за професійний сервіс. Авто було доставлене вчасно, вартість яка була названа на початку, прозвучала й в кінці угоди! Буду рекомендувати друзям”</p>
                    <p class="p-text-date">30.10.2023</p>
                </li>
                <li class="li-reviews-people">
                    <img src="./img/vladyslav-shevchuk.webp" alt="Vladislav Shevchuk" class="img-user-comments">
                </li>                
            </ul>
        </div>

        <button class="sent-comments-btn" type="button">написати відгук</button>
    </div>
</section>