<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="title-for-all-section">відгуки задоволених клієнтів</h2>
        <div class="wrapper-comments-reviews">
            <ul class="ul-reviews-comments">
                <li class="li-reviews-people">
                    <img src="./img/vladislav.webp" alt="Vladislav Shevchuk" class="img-user-comments">
                </li> 
                <li class="li-reviews-comments">
                    <h3 class="title-user-name">владислав шевчук</h3>
                    <p class="p-text-buyed-car">2014 Kia Soul</p>
                    <p class="text-user-comments">“Щиро дякую команді “Наша справа” за професійний сервіс. Авто було доставлене вчасно, вартість яка була названа на початку, прозвучала й в кінці угоди! Буду рекомендувати друзям”</p>
                    <p class="p-text-date">30.10.2023</p>
                </li>               
            </ul>
            <ul class="ul-reviews-comments">   
                <li class="li-reviews-comments li-reviews-comments-black">
                    <h3 class="title-user-name">тарас коваль</h3>
                    <p class="p-text-buyed-car">bmw f30 328xi</p>
                    <p class="text-user-comments">Радий, що звернувся саме до компанії “Наша справа”. З їхньою допомогою придбав авто про яке мріяв 3 роки.  Закрили всі питання, які виникали та були завжди на зв’язку. Дякую:)</p>
                    <p class="p-text-date">04.11.2023</p>
                </li>   
                <li class="li-reviews-people">
                    <img src="./img/taras.webp" alt="Vladislav Shevchuk" class="img-user-comments">
                </li>          
            </ul>
            <ul class="ul-reviews-comments">
                <li class="li-reviews-comments">
                    <h3 class="title-user-name">неля радчук</h3>
                    <p class="p-text-buyed-car">2016 BMW 328i</p>
                    <p class="text-user-comments">Рекомендую! Такого клієнтоорієнтованого сервісу не зустрічала давно. Я в машинах мало, що розумію, тому поклалась повністю на хлопців і.. вони не підвели, авто просто супер, все так як я хотіла, дякую!!!</p>
                    <p class="p-text-date">30.10.2023</p>
                </li>
                <li class="li-reviews-people">
                    <img src="./img/nelya-radchuk.webp" alt="Vladislav Shevchuk" class="img-user-comments">
                </li>                
            </ul>
            <ul class="ul-reviews-comments">
                <li class="li-reviews-people">
                    <img src="./img/kateryna-belagura.webp" alt="Vladislav Shevchuk" class="img-user-comments">
                </li>   
                <li class="li-reviews-comments li-reviews-comments-black">
                    <h3 class="title-user-name">катерина балагура</h3>
                    <p class="p-text-buyed-car">2014 BMW X5</p>
                    <p class="text-user-comments">Нещодавно придбала своє перше авто, не знала де краще замовити, тому запитала в друзів, і вони одноголосно порадили компанію НАША СПРАВА. Хлопці справжні професіонали, все чітко та прозоро. Були весь час на зв’язку, надсилали мені фото машин на кожному етапі доставки, і це все було дуже швидко, я навіть не помітила, як минуло 2 місяці. ДЯКУЮ!</p>
                    <p class="p-text-date">28.10.2023</p>
                </li>             
            </ul>
        </div>

        <button class="sent-comments-btn" type="button">написати відгук</button>
    </div>
</section>