<section class="why-me" loading="lazy">
    <div class="container">
        <h2 class="title-for-all-section">чому ми?</h2>
    </div>

    <img src="./img/car-face-brown.webp" alt="Car" class="img-car-face" width="281" height="240">

    <div class="container">
        
        <ul class="wrapper-our-plus">
            <li class="li-our-plus">
                <svg class="svg-our-plus" width="48" height="48">
                    <use href="./img/icons.svg#icon-speed"></use>
                </svg>
                <article class="text-our-plus">
                    <h3 class="title-our-plus">ШВИДКІСТЬ</h3>
                    <p class="p-text-our-plus">Ми доставляємо автомобіль вже через 2 місяці з дня покупки</p>
                </article>
            </li>
            <li class="li-our-plus">
                <svg class="svg-our-plus" width="60" height="60">
                    <use href="./img/icons.svg#icon-okey"></use>
                </svg>
                <article class="text-our-plus">
                    <h3 class="title-our-plus">якісний сервіс</h3>
                    <p class="p-text-our-plus">Ми забезпечимо повну перевірку авто на аукціоні, доставимо та відремонтуємо під ключ</p>
                </article>
            </li>
            <li class="li-our-plus">
                <svg class="svg-our-plus" width="38" height="38">
                    <use href="./img/icons.svg#icon-price"></use>
                </svg>
                <article class="text-our-plus">
                    <h3 class="title-our-plus">фіксована вартість</h3>
                    <p class="p-text-our-plus">Попередній прорахунок авто залишиться незмінним</p>
                </article>
            </li>
            <li class="li-our-plus">
                <svg class="svg-our-plus svg-our-plus-car-service" width="84" height="84">
                    <use href="./img/icons.svg#icon-car-service"></use>
                </svg>
                <article class="text-our-plus">
                    <h3 class="title-our-plus">власна сто</h3>
                    <p class="p-text-our-plus">Після доставки машини Вам не потрібно шукати станцію для  ремонту, адже в нас є власне СТО де ми перевіряємо автомобіль до деталей</p>
                </article>
            </li>
            <li class="li-our-plus ">
                <svg class="svg-our-plus svg-our-plud-report" width="58" height="58">
                    <use href="./img/icons.svg#icon-report"></use>
                </svg>
                <article class="text-our-plus">
                    <h3 class="title-our-plus">звітність на кожному етапі</h3>
                    <p class="p-text-our-plus">На всіх етапах доставки ми робимо фотозвіт, щоб Ви переконались, що авто перевозиться в безпеці та без ушкоджень</p>
                </article>
            </li>
            <li class="li-our-plus">
                <svg class="svg-our-plus svg-our-plud-accompaniment" width="72" height="72">
                    <use href="./img/icons.svg#icon-accompaniment"></use>
                </svg>
                <article class="text-our-plus">
                    <h3 class="title-our-plus">повний супровід</h3>
                    <p class="p-text-our-plus">На зв’язку завжди буде наш менеджер, тому Ви зможете отримати всі відповіді на свої запитання в будь - який час</p>
                </article>
            </li>
            <li class="li-our-plus">
                <svg class="svg-our-plus" width="38" height="38">
                    <use href="./img/icons.svg#icon-file-text"></use>
                </svg>
                <article class="text-our-plus">
                    <h3 class="title-our-plus">страхування</h3>
                    <p class="p-text-our-plus">Наша компанія надає страхування авто під час транспортування</p>
                </article>
            </li>
        </ul>

    </div>

    <img src="./img/car-back-brown.webp" alt="Car" class="img-car-back" width="320" height="280">

</section>