.auction > .container > .title-for-all-section{
    text-align: right;
}

.title-auction{
    font-weight: 500;
    line-height: 1.5; /* 21px */
    letter-spacing: 0.42px;
    margin-bottom: 30px;
}

.auction-with-working{
    text-transform: uppercase;
    font-weight: 700;
}

.wrapper-auctions-img{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.li-car-card{
    background-color: #000;
    border-radius: 30px;
    padding-top: 5px;
    /* padding: 5px 20px 36px; */
}

.img-car-card{
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    max-width: 96%;
    margin: 0 auto;
}

.title-car-name{
    color: #F1F1F1;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 15px;
    margin-bottom: 40px;
}

.ul-technical-car-stat{
    display: flex;
    flex-direction: column;
    color: #F1F1F1;
    padding: 0px 40px 0px 20px;
    margin-bottom: 30px;
    gap: 15px;
}

.oil{
    display: flex;
    justify-content: space-between;
}

.li-oil-1{
    font-weight: 700;
}


.li-oil-2{
    opacity: 0.8;
}

.p-text-price-for-car{
    color: #F1F1F1;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
}

.wrapper-total-price{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.swiper-slide  img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper-scrollbar{
    cursor: pointer;
}

.swiper-scrollbar .swiper-scrollbar-horizontal{
    margin-top: 40px;
    position: relative;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    position: relative;
}

.swiper-scrollbar-drag{
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
}

@media (min-width:1158px) {
    .wrapper-auction-title-img{
        display: flex;
        gap: 170px;
    }

    .li-car-card{
        border-radius: 30px;
    }

    .title-auction{
        font-size: 32px;
    }

    .img-car-card{
        width: 440px;
        max-height: 344px;
    }

    .title-car-name{
        font-size: 32px;
    }

    .ul-technical-car-stat{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 120px;
        margin: 0 auto 40px;
        padding: 0 30px;
    }

    .oil{
        font-size: 20px;
    }

    .wrapper-total-price-calc{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .p-text-price-for-car{
        font-size: 48px;
    }

    .wrapper-total-price-calc > .main-consultation-btn{
        margin-right: 30px;
        font-weight: 800;
        padding: 20px 56px;
        margin-bottom: 0;
    }
}

