.calculator{
    background-image: linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0 / 70%)), url(../img/car-front-audi-black.webp);
    background-position:    center;
    background-size:        cover;
    background-repeat:      no-repeat;
    padding: 40px 0;
}

.title-calculator{
    color: #fff;
    max-width: 180px;
    margin-bottom: 30px;
    font-weight: 800;
}

.p-text-calculator{
    font-weight: 500;
    line-height: 1.6; /* 22.4px */
    letter-spacing: 0.42px;
    color: #fff;
    margin-bottom: 60px;
}

.wrapper-form-calculator{
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
}

.title-form-calculator{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form-calculator{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.calc-form-input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid;
}

.typeOil-label{
    margin-bottom: -10px;
}

.wrapper-total-price{
    display: flex;
    justify-content: space-between;
}

.total-price{
    opacity: 0.7;
}

.form-calculator-btn{
    background-color: #EED135;
    color: #000;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.5; /* 18px */
    letter-spacing: 0.36px;
    border: 0;
    border-radius: 30px;
    padding: 12px 71px;
}

@media (min-width:1158px){
    .title-calculator{
        max-width: 100%;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 50px;
    }

    .p-text-calculator{
        font-size: 20px;
    }

    .wrapper-form-calculator{
        max-width: 747px;
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 40px;
    }

    .title-form-calculator{
        font-size: 32px;
    }

    .p-text-total-price{
        font-size: 24px;
    }

    .form-calculator-btn{
        max-width: 299px;
        margin: 0 auto;
    }

    .wrapper-total-price{
        margin: 40px 0;
    }

    .total-price{
        font-size: 24px;
    }

}