.contact{
    padding: 40px 15px;
    background-color: #FFDE2C;
    border-radius: 50px 50px 0 0;
    margin-bottom: 0;
}

.title-contact{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.ul-wrapper-contacts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
    font-weight: 600;
}

.li-contacts{
    display: flex;
    gap: 15px;
}

.wrapper-social-icon-contacts{
    margin-bottom: 50px;
}

.contact-us-btn{
    background-color: #000;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.5; /* 18px */
    letter-spacing: 0.36px;
    padding: 13px 45px;
    color: #fff;
    border: none;
    border-radius: 40px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}