.contact{
    padding: 40px 15px;
    background-color: #FFDE2C;
    border-radius: 50px 50px 0 0;
    margin-bottom: 0;
}

.title-contact{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.ul-wrapper-contacts{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
    font-weight: 600;
}

.li-contacts{
    display: flex;
    gap: 15px;
}

.wrapper-social-icon-contacts{
    margin-bottom: 50px;
}

.contact-us-btn{
    background-color: #000;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.5; /* 18px */
    letter-spacing: 0.36px;
    padding: 13px 45px;
    color: #fff;
    border: none;
    border-radius: 40px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}

.link-contacts-3{
    display: none;
}

@media (min-width: 1157px){

    .link-contacts-3{
        display: block;
    }
    
    .title-contact{
        font-size: 48px;
    }

    .img-map-on-goolge{
        position: absolute;
        right: 0;
        top: 0;
        max-height: 320px;
        max-width: 520px;
        width: 100%;
    }

    .contact-us-btn{
        margin: 0 0 auto;
    }

    /* .ul-wrapper-contacts{
        flex-direction: row;
        gap: 115px;
    } */
    
    .wrapper-contact-phone-number{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .wrapper-social-icon-contacts{
        position: absolute;
        left: 25%;
        bottom: -15%;
    }

    .li-contacts-where{
        position: absolute;
        left: 20%;
    }

    .li-contacts-where:nth-child(2){
        top: 42%;
    }

    .li-contacts-where:last-child{
        top: 85%;
    }

}