.ul-delivery{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.li-delivery{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 30px;
    min-height: 267px;
}

.p-text-delivery{
    line-height: 1.6; /* 22.4px */
    letter-spacing: 0.42px;
    max-width: 200px;
}

.delivery-span{
    text-transform: uppercase;
    font-weight: 600;
}

.delivery-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    border-radius: 20px;
}

@media (min-width: 1158px){
    .ul-delivery{
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;
    }

    .li-delivery{
        padding: 40px;
        width: 100%;
    }

    .p-text-delivery{
        font-size: 20px;
        margin-bottom: 140px;
    }
}