header{
    background-image: linear-gradient(to bottom, rgb(174 174 174 / 70%), rgb(255 255 255 / 50%));
}

.header-nav{
    display: none;
    padding: 30px 0;
}

.a-phone-link{
    display: none;
    padding: 30px 0;
}

.wrapper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}