.hero{
    background-image: url(../img/main-background.webp);
    background-position:    center;
    background-size:        cover;
    background-repeat:      no-repeat;
    padding: 40px 0;
}

.wrapper-p-text-main-desc{
    display: none;
}

.title-main{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.0; /* 64px */
    letter-spacing: 0.64px;
    margin-bottom: 10px;
    max-width: 345px;
}

.title-main-second{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}

.p-text-main{
    font-weight: 500;
    line-height: 1.5; /* 21px */
    letter-spacing: 0.7px;
    margin-bottom: 30px;
}

.main-text-span{
    text-transform: uppercase;
    font-weight: 700;
}

.p-text-main-second{
    display: none;
}

.main-consultation-btn{
    display: flex;
    padding: 13px 32px 12px;
    background-color: #EED135;
    border: 0;    
    border-radius: 40px;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.5; /* 18px */
    letter-spacing: 0.36px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.main-consultation-btn:hover, .main-consultation-btn:focus{
    box-shadow:         1px 4px 4px 1px rgba(0, 0, 0, 0.15);
}

.wrapper-social-icon{
    display: flex;
    justify-content: center;
    gap: 32px;
}

@media (min-width: 1157px){

    .hero{
        padding-top: 100px;
    }

    .wrapper-hero{
        position: relative;
    }
    
    .wrapper-p-text-main-desc{
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    .wrapper-p-text-main-phone{
        display: none;
    }

    .main-consultation-btn{
        max-height: 59px;
        align-items: center;
    }
    
    .p-text-main-second{
        display: block;
    }

    .p-text-main{
        max-width: 480px;
        font-size: 20px;
    }

    .title-main{
        font-size: 160px;
        max-width: 1920px;
    }

    .title-main-second{
        font-size: 80px;
        z-index: 555;
    }

    .img-bmw-hero{
        position: relative;
        margin-top: -180px;
        opacity: 0.85;
        margin-left: auto;
        margin-right: 100px;
    }

    .wrapper-social-icon{
        justify-content: left;
        margin-top: -150px;
    }
}