.just-form{
    background-image: linear-gradient(to bottom, rgb(191 190 190), rgb(192 192 192 / 70%)), url(../img/half-car-alfa.webp);
    background-position:    center;
    background-size:        cover;
    background-repeat:      no-repeat;
    padding: 40px 15px 30px;
    position: relative;
    z-index: 5;
}

.title-just-form{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7; /* 34px */
    letter-spacing: 0.6px;
    text-transform: none;
    margin-bottom: 60px;
}

.span-just-form-text{
    font-weight: 700;
    text-transform: uppercase;
}

@media (min-width: 1157px){
    .title-just-form{
        font-size: 40px;
    }

    .just-form > .container > .main-consultation-btn{
        padding: 20px 115px;
        font-size: 14px;
    }
}