.moments-buy{
    background-image: linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0 / 70%)), url(/img/car-corner-bmw-wite.webp);
    background-position:    center;
    background-size:        cover;
    background-repeat:      no-repeat;
    padding: 40px 0;
    z-index: -9;
}

.title-moments-buy{
    color: #F1F1F1;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.wrapper-moments-buy{
    display: flex;
    flex-direction: column;
}

.li-moments-buy{
    padding: 30px 0;
    border-bottom: 2px dashed #FFF;
    position: relative;
}

.li-moments-buy:last-child{
    border: none;
}

.article-moments-buy{
    display: flex;
    gap: 20px;
}

.title-numbers{
    padding: 13px 14px;
    background-color: #EED135;
    border-radius: 15px;
    max-width: 50px;
    max-height: 50px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.p-text-moments-buy{
    color: #fff;
}

@media (min-width: 1158px){
    .title-moments-buy{
        font-size: 48px;
        margin-bottom: 80px;
    }

    .title-numbers{
        font-size: 32px;
        max-width: 88px;
        max-height: 72px;
    }

    .p-text-moments-buy{
        font-size: 20px;
    }

    .wrapper-moments-buy{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 80px;
        grid-row-gap: 20px;
    }

    .li-moments-buy{
        border: 0;
        max-width: 470px;
    }

    .article-moments-buy{
        gap: 40px;
    }

    .article-moments-buy-1::after{
        content: "";
        width: 20%;
        border-top: 1px dashed #fff;
        position: absolute;
        top: 70px;
        left: 105%;
    }

    .article-moments-buy-2::after{
        content: "";
        width: 20%;
        border-top: 1px dashed #fff;
        position: absolute;
        top: 70px;
        left: 105%;
    }

    .article-moments-buy-3::after{
        content: "";
        height: 40%;
        border-left: 1px dashed #fff;
        position: absolute;
        top: 68%;
        left: 7%;
    }

    .article-moments-buy-5::after{
        content: "";
        width: 20%;
        border-top: 1px dashed #fff;
        position: absolute;
        top: 70px;
        left: 105%;
    }

    .article-moments-buy-6::after{
        content: "";
        width: 20%;
        border-top: 1px dashed #fff;
        position: absolute;
        top: 70px;
        left: 105%;
    }

    .article-moments-buy-6::before{
        content: "";
        height: 40%;
        border-left: 1px dashed #fff;
        position: absolute;
        top: 68%;
        left: 7%;
    }

    .article-moments-buy-7::after{
        content: "";
        width: 20%;
        border-top: 1px dashed #fff;
        position: absolute;
        top: 70px;
        left: 105%;
    }

    .li-moments-buy:first-child { grid-area: 1 / 1 / 2 / 2; }
    .li-moments-buy:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
    .li-moments-buy:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
    .li-moments-buy:nth-child(4) { grid-area: 2 / 3 / 3 / 4; }
    .li-moments-buy:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }
    .li-moments-buy:nth-child(6) { grid-area: 2 / 1 / 3 / 2; }
    .li-moments-buy:nth-child(7) { grid-area: 3 / 1 / 4 / 2; }
    .li-moments-buy:last-child { grid-area: 3 / 2 / 4 / 3; }
}