.why-me{
    position: relative;
    padding-bottom: 180px;
    margin-bottom: 160px;
}

.wrapper-our-plus{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.li-our-plus{
    background-color: #EED135;
    padding: 31px 30px;
    border-radius: 30px;
    min-height: 250px;
    display: flex;
}

.text-our-plus{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 11px 0 0 11px;
}

.title-our-plus{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5; /* 27px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.p-text-our-plus{
    font-weight: 500;
    line-height: 1.6; /* 22.4px */
    letter-spacing: 0.7px;
}

.img-car-back{
    position: absolute;
    right: 0;
    margin: 20px 0;
}

@media (min-width: 1158px){

    .img-car-face{
        margin-bottom: -340px;
    }

    .title-our-plus{
        font-size: 32px;
    }

    .wrapper-our-plus{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .li-our-plus:first-child{
        margin-left: 540px;
    }

    .li-our-plus{
        max-width: 520px;
        height: 350px;
    }

    .p-text-our-plus{
        font-size: 20px;
    }
    .img-car-back{
        margin-top: -310px;
    }

}